.custom-select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  width: 220px;
  height: 40px;
}

.custom-select__control {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.custom-select__select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c0392b;
  padding: 8px 15px;
  transition: all 0.2s ease-in;
}

.custom-select__select::after {
  content: '';
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.custom-select__select:hover {
  background-color: #b83729;
}

.custom-select__select.custom-select__select_active {
  background-color: #ab3326;
}

.custom-select__select.custom-select__select_active::after {
  top: 9px;
  border-color: transparent transparent #ffffff transparent;
}

.custom-select__options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ab3326;
}

.custom-select__option {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #962d22;
  transition: all 0.15s ease-in;
}

.custom-select__option:hover {
  color: #c0392b;
  background: #ffffff;
}
